<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .items{
            background:green;
            width: 200px;
            height: 400px;

        }

    </style>
</head>
<body>
    <div>
        <h1> well come to eccomers </h1>
        {% for alls in all_product %}
        <div class="items">
        <img src="{{alls.product_image.url}}" alt="" style=" width: 100px; height: 150px; border-radius: 20px; ">
            <h2>{{alls.product_brand}}</h2>
            <h2>{{alls.product_name}}</h2>
            <h2>{{alls.product_price}}</h2>
            {% if alls.product_name == "laptop" %} 
                <a href="{% url 'laptopdetail' alls.id %}">laptop detail</a>
            {% elif alls.product_name == "phone" %} 
                <a href="{% url 'phonesdetail' alls.id %}">phone detail</a>
            {% endif %}
        {% endfor %}
        </div>
        <a href="{% url 'logout' %}">logout</a>
    </div>
</body>
</html>