<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1> well come to eccomers </h1>
        {% for alls in all_product %}
        <div style=" background: greed; width: 120px; height: 300px;">
        <img src="{{alls.product_image.url}}" alt="" style=" width: 100px; height: 150px; border-radius: 20px; ">
            <h2>{{alls.product_brand}}</h2>
            <h2>{{alls.product_name}}</h2>
            <h2>{{alls.product_price}}</h2>
        {% endfor %}
        </div>
        <a href="{% url 'logout' %}">logout</a>
    </div>
</body>
</html>