<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1> well come to eccomers </h1>
        
        {% for alls in all_product %}
            <h2>{{alls.product_brand}}</h2>
            <h2>{{alls.product_name}}</h2>
            <h2>{{alls.product_price}}</h2>
            <h2>{{alls.product_image}}</h2>
        {% endfor %}
        <a href="{% url 'logout' %}">logout</a>
    </div>
</body>
</html>