<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>well come to laptop detail </h1>
        <h5>you want to by it ?</h5>
        <h3>{{product.product_processor}}</h3>
        <h3>{{product.product_generation}}</h3>
        <h3>{{product.product_ram}}</h3>
        <h3>{{product.product_storage}}</h3>
        <h3>{{product.product_graphics}}</h3>
        <h3>{{product.product_display}}</h3>
    </div>
</body>
</html>